@model PageNumberView

@{
    ViewData["Title"] = "Главная";
}

<form method="post">
    <div class="row">
        <div class="col-3 glow-font-dark" style="text-align: left">
            <div class="row justify-content-end">
                <div class="col-9" style="padding: 0px 0px 0px 5px; margin-top: 5px">
                    <input type="text" style="text-align: center; width: 100%" placeholder="Поиск по имени" name="searchWord" />
                </div>
                <div class="col-2 d-inline-block" style="padding: 0px 0px 0px 5px" data-toggle="tooltip" title="Начать поиск">
                    <button class="btn btn-primary btn-primary-glow-dark" type="submit"
                        asp-area=""
                        asp-controller="Home"
                        asp-action="Filtering">
                    <i class="bi bi-search"></i></button>
                </div>
            </div><br /><br />
            <div class="glow-reference-dark"><b>Настройте фильтры поиска:</b></div><br />
            <div class="glow-reference-dark"><b>Выберите город:</b></div>
            @foreach (var city in ViewBag.AllWorkLocations)
            {
                <div>
                    <input class="work-location" type="checkbox" value="@city" name="locations" />@city
                </div>
            }
            <div class="glow-reference-dark" style="padding-top: 10px"><b>Укажите минимальную стоимость:</b></div>
            <div class="row">
                <div class="col-6" style="text-align: left; padding: 0px">@ViewBag.MinCost</div>
                <div class="col-6" style="text-align: right; padding: 0px">@ViewBag.MaxCost</div>
            </div>
            <input style="width: inherit; padding: 0px" type="range" min="@ViewBag.MinCost" max="@ViewBag.MaxCost" value="@ViewBag.MinCost" name="minCost" />
            <div class="glow-reference-dark" style="padding-top: 10px"><b>Укажите максимальную стоимость:</b></div>
            <div class="row">
                <div class="col-6" style="text-align: left; padding: 0px">@ViewBag.MinCost</div>
                <div class="col-6" style="text-align: right; padding: 0px">@ViewBag.MaxCost</div>
            </div>
            <input style="width: inherit; padding: 0px 0px 20px 0px" type="range" min="@ViewBag.MinCost" max="@ViewBag.MaxCost" value="@ViewBag.MaxCost" name="maxCost" />
            <div class="row justify-content-center">
                <div style="text-align: center">
                    <button class="btn btn-primary btn-primary-glow-dark" type="submit"
                        asp-area=""
                        asp-controller="Home"
                        asp-action="Filtering">
                    Применить</button>
                </div>&nbsp;
                <div style="text-align: center">
                    <button class="btn btn-dark" disabled
                        asp-area=""
                        asp-controller="Home"
                        asp-action="Index">
                    Сбросить</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row justify-content-center" style="min-height: 140px">
                <button class="col-2 offset-10 btn btn-primary btn-primary-glow-dark btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировать по</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px">
                    <a class="dropdown-item"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="Sorting"
                       asp-route-sortingValue="1">
                    <small>Возрастанию цены</small></a>
                    <a class="dropdown-item"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="Sorting"
                       asp-route-sortingValue="-1">
                    <small>Убыванию цены</small></a>
                </div>
                <div class="col-4 offset-8 text-right glow-font-dark">
                    <small>@ViewBag.SortingProductsValueView</small>
                </div>
            </div>
            @if (Model.Products.Count.Equals(0))
            {
                <div class="row justify-content-center glow-font-dark">
                    В настоящий момент товары отсутствуют.
                </div>
            }
            else
            {
                <div class="row justify-content-center">
                    <span class="col-1"></span>
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-2 card shadow" style="text-align: center; border: 1px solid; padding: 0px; margin: 5px">
                            <div style="text-align: right; padding: 5px 10px 5px 0px">
                                @await Component.InvokeAsync("AddProductToComparison", product.Id)
                            </div>
                            <div class="card-body" style="padding-top: 0px; padding-bottom: 0px">
                                <a style="color: black"
                                   asp-area=""
                                   asp-controller="Product"
                                   asp-action="Index"
                                   asp-route-productId="@product.Id">
                                    <img class="card-img-top" src=@product.ImagePath height="100" />
                                    <h5 class="card-title" style="margin-bottom: 5px">@product.Name</h5>
                                    <p class="card-text" style="margin-bottom: 5px">@product.Cost руб.</p>
                                </a>
                            </div>
                            <div style="margin-bottom: 10px">
                                @await Component.InvokeAsync("AddProductToCart", product.Id)
                                @await Component.InvokeAsync("AddProductToFavourites", product.Id)
                            </div>
                        </div>
                    }
                </div><br />
                <div class="col-11 offset-1 btn-group-sm text-sm-center">
                    @Html.PageLinks(Model.PageInfo, pageNumber => Url.Action("Index", new { page = pageNumber }))
                </div>
            }
        </div>
    </div>
</form>